/* demotoppage css */

.demotoppage{
    height: 700px;
    background-color: rgb(239, 239, 250);
  }
  
  .toplogo{
    /* border: 1px solid red; */
    height: 54px;
    width: 1084px;
    margin: auto;
  }
  
  .heading{
    /* border: 1px solid blue; */
    height: 60px;
    width: 700px;
    margin: auto;
    color: rgb(51,71,91);
    margin-top: 50px;
    font-size: 46px;
    font-family: sans-serif;
  }
  
  .paragraph{
    /* border: 1px solid green; */
    height: 86px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    font-family: sans-serif;
    line-height: 26px;
  }
  
  .button{
    height: 75px;
    width: 300px;
    border-radius: 5px;
    border: 0;
  }
  
  .buttondiv{
    margin-top: 40px;
    text-align: center;
  }
  
  .btn2{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(255,92,53);
  }
  
  .btn2:hover{
    background-color: rgb(248, 186, 170);
    cursor: pointer;
  }
  
  .btn1{
    font-size: 16px;
    font-weight: 600;
    color: rgb(255,92,53);
    background-color: white;
    border: 1px solid rgb(255,92,53);
  }
  
  .btn1:hover{
    background-color: rgb(250, 233, 228);
    cursor: pointer;
  }
  
  .specificproductdiv{
    /* border: 1px solid black; */
    height: 30px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
  }
  
  .toplogoimg{
    height: 30px;
    width: 100px;
    margin-top: 30px
  }

  .linkfont{
    color: white;
    text-decoration: none;
  }