.hubDetails_main_div{
    width:280px;
    height: 450px;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    /* border: 1px solid black; */
    background-color: white;
    transition: 1.5s;
}
.hubDetails_main_div:hover{
    transform: scale(1.1,1.1);
}
.hubDetails_icon{
    font-size: 25px;
    color: #fd5b35;
    margin-top: 5px;
    margin-right: 10px;
}
.hubDetails_Title{
    
    font-size: 25px;
    font-weight: bold;
}
.hubDetails_describe{
    font-size: 13px;
}
.hubDetails_main_div>hr{
    width:100%;
    color: #c6c8ca;
    margin-top: 30%;

}
.hubDetails_link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.hubDetails_btn{
width:85%;
background-color: #fd5b35;
text-align: center;
padding: 8px;
margin-top: 25px;
}
.hubDetails_checkbox{
    color:#fd5b35 ;
    font-size: 20px;
    margin-right: 12px;
    
    
}
.hubDetails_features_div>div{
    display: flex;
    margin-bottom: 10px;
}

.hubDetails_main_title_logo{
    display: flex;
}

/* ******************************************hubFeature************************************************************** */

.hubFeature_main_div{
    width:80%;
    height: 900px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,31%);
    grid-gap: 30px;
    background-color: #f5f8fa;
    height: auto;
    margin: auto;
}
.hubFeature_Smain_div{
    background-color: #f5f8fa;
    height: 1000px;
}
